* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: rgba(127, 80, 147, 1);
}

.gallery {
	background: transparent;
	width: 100%;
	margin-left: auto;
	visibility: hidden;
}

.galleryCell {
	text-align: center;
	width: 100%;
	background: transparent;
}


