* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (max-width: 700px) {
	
}

header{
	top: 0;
	left: 0;
	height: 55px;
	width: 100%;
	z-index: 1;
	position: fixed;
	background: rgba(127, 80, 147, 1);
}

#headerText{
	font-size: 55px;
	color: rgba(255, 255, 255, 1);
	margin-left: 75px;
	font-family: 'Luckiest Guy';
}

body{
	background: rgba(127, 80, 147, 1);
}

#game {
	display: flex;
	visibility: hidden;
	margin-top: 55px;
}

.gallery {
	background: transparent;
	width: 100%;
}

.galleryCell {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: transparent;
}

#scoreboard{
	display: flex;
	padding: 0.3em;
	background: rgba(150, 80, 147, 1);
	color: rgba(255, 255, 255, 1);
	flex-direction: column;
}

#playCardButton{ 
	width: fit-content; 
	border-radius: 0.5em; 
	font-weight: 0.5em; 
	padding: 0.5em; 
	font-family: 'Luckiest Guy'; 
	background: rgba(0, 0, 0, 0.3); 
	color: rgba(255, 255, 255, 1); 
} 
 
#selectCardMessage{ 
	font-family: 'Luckiest Guy'; 
	color: rgba(255, 255, 255, 1); 
} 
