#menuButton
{
	width: 65px;
	height: 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 5px 10px;
}

#menuButton div{
	width: 100%;
	height: 20%;
	border: 1px solid black;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
}

#menu{
	position: fixed;
	top: 55px;
	left: 10px;
	height: 15em;
	width: 15em;
	z-index: 1;
	border-radius: 10px;
	border: 1px solid black;
	background: rgba(255, 255, 255, 1);
}