#menuButton
{
	width: 65px;
	height: 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#menuButton div{
	  width: 80%;
    height: 15%;
		border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
}

#menu{
	top: 0;
	left: 0;
	height: 100%;
	width: 80%;
	z-index: 1;
	background: rgba(0,0,0, 0.8);
	position: fixed;
}