* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	/*make text unselectable*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* without this, the form doesnt work on iphone */
input, input:before, input:after {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
} 

body{
	--nimmtPurple: rgba(127, 80, 147, 1);
	--margin: 10px;
	--radius: 10px;
	--menuButtonSideLength: 75px;
	background: var(--nimmtPurple);
	font-family: 'Bangers';
}

#waitPage, #gamePage {
	display: none;
}

.button{
	display: flex;
	justify-content: center;
	margin: 10px;
	border-radius: 0.5em;
	padding: 0.5em;
	background: rgba(0, 0, 0, 0.3);
	white-space: nowrap;
	overflow: hidden;
}

.button:hover {
	background: rgba(188, 144, 204, 1);
	color: white;
}

.dimBackground{
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background: rgba(0,0,0,0.6);
}