.dialog {
	display: flex;
	flex-direction: column;
	position: fixed;
	padding: calc(2*var(--margin));
	border-radius: var(--margin);
	border: 1px solid black;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
	background: white;
	color: var(--nimmtPurple);
}

.dialogPrompt {
	margin: 10px;
}

.dialogButtonContainer {
	color: var(--nimmtPurple);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.dialogBackground{
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
}

/* dialog checkbox */

.dialogCheckboxContainer{
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	font-size: 22px;
  }

/* Hide the browser's default checkbox */
.dialogCheckboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.dialogCheckboxReplacement {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.dialogCheckboxContainer:hover input ~ .dialogCheckboxReplacement {
    background-color: #ccc;
}

/* When the checkbox is checked, add a purple background */
.dialogCheckboxContainer input:checked ~ .dialogCheckboxReplacement {
    background-color: rgba(188, 144, 204, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.dialogCheckboxReplacement:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.dialogCheckboxContainer input:checked ~ .dialogCheckboxReplacement:after {
    display: block;
}

/* Style the checkmark/indicator */
.dialogCheckboxContainer .dialogCheckboxReplacement:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}