body{
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contentWrapper{
	padding: 1em;
	max-width: 800px;
	overflow-wrap: break-word;
	background: rgba(0,0,0,0.1);
}

h1{
	font-size: 7em;
	margin: 10px 20px;
}

h2{
	font-size: 4em;
	margin: 10px 20px;
}

h3{
	font-size: 3em;
	margin: 10px 20px;
	font-family: 'Do Hyeon';
}

iframe{
	margin: 20px;
}